body{
    font-family:Georgia, 'Times New Roman', Times, serif
}
body {background-color: white;}
body{
    color: black;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }